.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  overflow: hidden;
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.4em 1em;
    background-color: #f7f7f7;
    width: 50%;
    height: 60%;
    border-radius: 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    > span:nth-child(1) {
      width: 10%;
      display: flex;
      align-items: center;
      > img {
        width: 80%;
        margin-left: -3.4em;
      }
      > p {
        font-size: 2.4em;
        font-weight: 600;
        margin: 0;
        margin-left: 0.4em;
        color: #555555;
      }
    }
    > p:nth-child(2) {
      margin: 0;
      margin-top: 2em;
      font-size: 1.3em;
      text-align: center;
      font-weight: 600;
      color: #383838;
    }
    > p:nth-child(3) {
      margin: 0;
      margin-top: 0.8em;
      font-size: 1.5em;
      text-align: center;
      font-weight: 600;
      color: #383838;
    }
    > p:nth-child(4) {
      margin: 0;
      margin-top: 1em;
      font-size: 1.2em;
      text-align: center;
      font-weight: 600;
      color: #383838;
    }
    > span:nth-child(5) {
      margin-top: 3em;
      display: flex;
      //   justify-content: space-around;
      width: 55%;
      > a {
        width: 100%;
        margin-right: 1.3em;
        > img {
          width: 100%;
          height: 3.8em;
        }
      }
    }
  }
  .SocailBox {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 3.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;

    border-radius: 20em;
    padding: 0.7em 0em 0.24em 0;
    transition: all 0.36s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    > a {
      width: 65%;
      > p {
        display: none;
      }
      > img {
        width: 100%;
      }
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Main {
    height: 100%;
    .Container {
      width: 88%;
      height: 66%;
      margin-top: -7em;
      padding: 0.4em 0.8em;
      > span:nth-child(1) {
        width: 30%;
        > img {
          width: 45%;
        }
        > p {
        }
      }
      > p:nth-child(2) {
      }

      > span:nth-child(5) {
        width: 100%;
        > a {
          width: 100%;
          margin-right: 0.4em;
          margin-left: 0.5em;
          > img {
            height: 3.6em;
          }
        }
      }
    }

    .SocailBox {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1.6em;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #a9c9ff;
      background-image: linear-gradient(360deg, #a9c9ff 100%, #ffbbec 100%);
      padding: 0.8em 1em 0.7em 0;
      transition: all 0.36s;
      border-radius: 0;

      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      > a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        > p {
          display: block;
          margin-left: 0.2em;
          font-size: 1.2em;
        }
        > img {
          width: 10%;
        }
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}
